body{
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: black;
  font-family: Tahoma;
}
.container{
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#section_cart{
  width: auto;
  height: auto;
  /*margin-top: -55px;*/
  background-color: #999999;
  /*background-color: hsl(0, 0%, 90%);*/
}

#cart1{
  /*background-color: rgb(230 230 230);*/
  margin-bottom: -35px;
}
.text_order{
  float: right;
  font-size: 17px;
  color: brown;
  font-weight: bold;
  margin-top: 100px;
  margin-right: 150px;
}

.product1{
  width: 1000px;
  height: 120px;
  display: inline-flex;
  margin-left: 80px;
  background-color: white;
}
.cart_product_image1{
  margin-left: -20px;
  margin-top: 10px;
}
.cart_image1{
  width: 100px;
  height: 100px;

}
.text_cart1{
  width: 600px;
  font-size: 18px;
  color: black;
  margin-left: 40px;
}
.price_cart1{
  margin-left: 40px;
}
.pay_cart{
  width: 100px;
  height: 40px;
  position: absolute;
  margin-top: -55px;
  margin-left: 800px;
  border-radius: 8px;
  border: solid 1px rgb(230 230 230);
  background-color: red;

}
.pay_cart a{
  text-decoration: none;
  color: white;
}
.quantity{
  display: flex;
  padding-right: 10px;
}

.add_quantity{
  display: flex;
  margin-left: 40px;
  margin-top: -30px;
}
#minus {
  margin: 21px 10px 0px 0px;
  height: 24px;
  width: 24px;
}
#plus{
  margin: 21px 0px 0px 10px;
  height: 24px;
  width: 24px;
}

#minus1 {
  margin: 21px 10px 0px 0px;
  height: 24px;
  width: 24px;
}
#plus1{
  margin: 21px 0px 0px 10px;
  height: 24px;
  width: 24px;
}

.product2{
  width: 1000px;
  height: 120px;
  display: inline-flex;
  margin-left: 80px;
  background-color: white;
}
.delivery{
  position: absolute;
  float: right;
  font-size: 15px;
  margin-left: 450px;
  margin-top: -3px;

}
#section_title{
  margin-top: -55px;

}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  /*margin-top: -30px;*/
  font-family: Tahoma;
  font-size: 20px;
  font-weight: 600;
  /*color: white;*/
  color: black;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}
