body{
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: black;
  font-family: Tahoma;
}
.container{
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
#cart1{
  background-color: rgb(230 230 230);
  margin-bottom: -35px;
}
.text_order{
  float: right;
  font-size: 17px;
  color: brown;
  font-weight: bold;
  margin-right: 150px;
}

.product1{
  width: 1000px;
  height: 120px;
  display: inline-flex;
  margin-left: 80px;
  background-color: white;
}
.cart_product_image1{
  margin-left: -20px;
  margin-top: 10px;
}
.cart_image1{
  width: 100px;
  height: 100px;

}
.text_cart1{
  width: 600px;
  font-size: 18px;
  color: black;
  margin-left: 40px;
}
.price_cart1{
  margin-left: 40px;
}
.pay_cart{
  width: 100px;
  height: 40px;
  position: absolute;
  margin-top: -20px;
  margin-left: 800px;
  border-radius: 8px;
  border: solid 1px rgb(230 230 230);
  background-color: red;

}
.pay_cart a{
  text-decoration: none;
  color: white;
}
.quantity{
  position: absolute;
  margin-top: -10px;
  margin-left: 40px;
  font-size: 16px;
  color: black;
  font-weight: bold;
}
#number1{
  width: 50px;
  height: 20px;
  position: absolute;
  margin-left: 5px;
  margin-top: -2px;
  border: solid 1px;
  border-radius: 5px;
}
#number2{
  width: 50px;
  height: 20px;
  position: absolute;
  margin-left: 5px;
  margin-top: -2px;
  border: solid 1px;
  border-radius: 5px;
}
.product2{
  width: 1000px;
  height: 120px;
  display: inline-flex;
  margin-left: 80px;
  background-color: white;
}
.delivery{
  position: absolute;
  float: right;
  font-size: 15px;
  margin-left: 450px;
  margin-top: -3px;

}

