body{
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: black;
  font-family: Tahoma;
}
.container{
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
#section_title{
  margin-top: -45px;
}
#policy{
  margin-top: 60px;
}

.text_policy{
  text-align: center;
  color: #436799;
}
.policy_content{
  margin-left: 80px;
  margin-right: 40px;
}
.no_warranty{
  margin-left: 70px;
  font-size: 22px;
}
.detail_warranty{
  margin: 0px 65px;
}
.policy_compensation{
  margin-left: 70px;
  font-size: 22px;
}
.compensation{
  margin: 0px 70px;
}
.return{
  margin-left: 70px;
  font-size: 22px;
}
.exchange_return{
  margin: 0px 70px;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  /*margin-top: -30px;*/
  font-family: Tahoma;
  font-size: 20px;
  font-weight: 600;
  /*color: white;*/
  color: black;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}

