html {
  background: url("image/backgound/anhnen.jpg");
  background-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-family: Tahoma, sans-serif;

}

body {
  overflow: auto;

  margin: 20px 510px 10px 500px; /* trên - phải - dưới - trái */
  height: 550px;
}
#register_form{
  width: 500px;
  height: 800px;
  margin: auto;
  /*opacity: inherit;*/
  /*background-color: #436799;*/
}
h2 {
  padding-top: 5px;
  /*margin-left: 50px;*/
  text-align: center;
  width: 500px;
  font-size: 30px;
  color: black;
  text-align: center;
}

input {
  border-radius: 6px;
  font-size: 20px;
  padding: 15px 50px 12px 60px;


}

.username, .password, .email, .sdt, .re-password, .diaChi {
  text-align: center;
  margin-top: 20px;


}

span img {
  position: absolute;
  padding-top: 8px;
  padding-left: 15px;
  color: deepskyblue;
}


.btn_dk {
  margin-top: 30px;
  text-align: center;

}

a {
  text-decoration: none; /*bỏ gạch chân*/
  border: 3px solid black;
  border-radius: 60px;
  padding: 10px 20px;}
body{
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  color: black;
  cursor: pointer;
  font-family: Tahoma;
  overflow: hidden;
}
#page .container{
  display: flex;
  justify-content: center;
}
#page{
  width: 100%;
  /*height: 100vh;*/
  height: 1000px;
  padding-top: 3px;
  background: url("image/backgound/anhnen.jpg") no-repeat center center;
  background-size: cover;
  /*padding-top: 3px;*/
}
.register{
  width: 500px;
  height: 600px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text_register{
  font-size: 40px;
  color: #436799;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}



#phone{
  width: 400px;
  height: 35px;
  margin-top: 20px;
  margin-left: 35px;
  border-style: none;
  border-radius: 10px;
}
.icon_phone_dk{
  position: absolute;
  width: 20px;
  height: 20px;
  padding-top: 27px;
  padding-left: 40px;
}
#password,#email{
  width: 400px;
  height: 35px;
  border-style: none;
  border-radius: 10px;
  padding-left: 60px;
  margin-top: 20px;
}
.icon_key_dk, .icon_email_dk{
  position: absolute;
  width: 35px;
  height: 35px;
  margin: 35px 0 0 15px;
}
a{
  text-decoration: none;
}

.submit{
  width: 200px;
  cursor: pointer;
  text-align: center;
  border-style: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 16px;
  margin: 10px 20px;
}
.small-text{
  font-size: 16px !important;
  border:none;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.pix_text{
  padding-left: 35px;
}
#password1{
  width: 400px;
  height: 35px;
  margin-top: 20px;
  margin-left: 35px;
  border-style: none;
  border-radius: 10px;
}
#section_sex{
  width: 400px;
  height: 35px;
  margin-top: 20px;
  margin-left: 35px;
  border-style: none;
  border-radius: 10px;
}
#location{
  width: 400px;
  height: 35px;
  margin-top: 20px;
  margin-left: 35px;
  border-style: none;
  border-radius: 10px;
}
.icon_map_dk{
  position: absolute;
  width: 20px;
  height: 20px;
  padding-top: 27px;
  padding-left: 40px;
}
.birthday{
  float: left;
  margin-left: 40px;
}
#birthday_dk{
  width: 120px;
  height: 30px;
  border-radius: 8px;
  border: none;
}
.sex_form{
  float: right;
  margin-right: 40px;
}
#male{
  width: 20px;
  height: 20px;
}
#female{
  width: 20px;
  height: 20px;
}

.forgot-password a{
  margin: 10px auto;
  display: block;
  width: 500px;
  text-align: center;
}

.btn_dk a:hover {
  margin-top: 50px;
  background: white;
  color: black;
}
